/*---------------- VARIABLES ----------------*/
:root {
  --main-color: #5e5b52;
  --secondary-color: #ffd100;
  --third-color: #bb6b00;
  --header-font: "EB Garamond", Georgia, "Times New Roman";
  --para-font: "Open Sans", Arial, sans-serif; 
  --para-margin: 10px 0 10px 0;
}

* {
  font-family: var(--para-font);
}

/*----------------- HEADER ------------------*/
header {
  background-color: var(--main-color);
}

#logo img {
  border-radius: 20px;
  width: 100%;
}

#logo {
  display: block;
  max-width: 150px;
  padding: 11px;
}

.navLink {
  padding-left: 0;
  margin: 0;
}

.navLink li {
  list-style: none;
}

.link {
  text-decoration: none;
  color: white;
  display: block;
  padding: 11px;
  font-size: 1.2rem;
  font-family: var(--para-font);
}

.link:hover {
    background-color: #ffd100;
    color: black;
}

#menu {
  position: absolute;
  top: 15px;
  right: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background: none;
  border: none;
  color: white;
  font-size: 2rem;
  padding: 5px;
  width: 44px;
  cursor: pointer;
}

#menu::before {
  content: "\2630";
}

#menu.open::before {
  content: "\00D7";
}

#animateme {
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 0.5s ease-out; 
}

.navLink {
    overflow: hidden;
}

#animateme.open {
  grid-template-rows: 1fr;
}

/*----------------- FOOTER ------------------*/
footer {
  background-color: #5e5b52;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  padding: 0.5rem;
}

.class-info {
  text-align: center;
}

.class-info p {
  margin: var(--para-margin);
}

#lastModified {
  color: var(--secondary-color);
}

.resources {
  text-align: center;
  margin-bottom: 5px;
}

.resources a {
  padding: 5px;
  color: var(--secondary-color);
  transition: color 0.3s ease;
  &:hover {
    color: var(--third-color);
  }
}

.resources h3 {
  margin-top: 5px;
}

footer a {
  text-decoration: none;
}

.demo-video {
  margin: 25px 0 25px 0;
}

.demo-video a {
  color: black;
  padding: 15px;
  background-color: var(--secondary-color);
  border-radius: 3px;
  font-weight: bold;
  transition: color 0.3s ease, background-color 0.3s ease;
  &:hover {
    color: white;
    background-color: var(--third-color);
  }
}