/*---------------- VARIABLES ----------------*/
:root {
  --main-color: #5e5b52;
  --secondary-color: #ffd100;
  --third-color: #bb6b00;
  --header-font: "EB Garamond", Georgia, "Times New Roman";
  --para-font: "Open Sans", Arial, sans-serif;
  --para-margin: 10px 0 10px 0;
  --text-margin: 10px;
}

* {
  font-family: var(--para-font);
}

.bold-underline {
  font-weight: bold;
  text-decoration: underline;
}

h1 {
  width: 95%;
  border-bottom: solid #bb6b00 5px;
  font-family: var(--header-font);
}

/*----------------- HEADER ------------------*/
header {
  background-color: var(--main-color);
}

#logo img {
  border-radius: 20px;
  width: 100%;
}

#logo {
  display: block;
  max-width: 150px;
  padding: 11px;
}

.navLink {
  padding-left: 0;
  margin: 0;
}

.navLink li {
  list-style: none;
}

.link {
  text-decoration: none;
  color: white;
  display: block;
  padding: 11px;
  font-size: 1.2rem;
  font-family: var(--para-font);
}

.link:hover {
  background-color: #ffd100;
  color: black;
}

#menu {
  position: absolute;
  top: 15px;
  right: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background: none;
  border: none;
  color: white;
  font-size: 2rem;
  padding: 5px;
  width: 44px;
  cursor: pointer;
}

#menu::before {
  content: "\2630";
}

#menu.open::before {
  content: "\00D7";
}

#animateme {
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 0.5s ease-out;
}

.navLink {
  overflow: hidden;
}

#animateme.open {
  grid-template-rows: 1fr;
}

/*----------------- FOOTER ------------------*/
footer {
  background-color: #5e5b52;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  padding: 0.5rem;
}

.class-info {
  text-align: center;
}

.class-info p {
  margin: var(--para-margin);
}

#lastModified {
  color: var(--secondary-color);
}

.resources {
  text-align: center;
  margin-bottom: 5px;
}

.resources a {
  padding: 5px;
  color: var(--secondary-color);
  transition: color 0.3s ease;
  &:hover {
    color: var(--third-color);
  }
}

.resources h3 {
  margin-top: 5px;
}

footer a {
  text-decoration: none;
}

.demo-video {
  margin: 25px 0 25px 0;
}

.demo-video a {
  color: black;
  padding: 15px;
  background-color: var(--secondary-color);
  border-radius: 3px;
  font-weight: bold;
  transition: color 0.3s ease, background-color 0.3s ease;
  &:hover {
    color: white;
    background-color: var(--third-color);
  }
}

/*----------------- HOMEPAGE ------------------*/
.homepage h1,
.homepage h2,
.homepage h3 {
  font-family: var(--header-font);
  margin-left: var(--text-margin);
}

.homepage h1 {
  margin-top: 30px;
}

.homepage img {
  width: 100%;
  aspect-ratio: 16/9;
}

#dailyContainer {
  width: 80%;
  border: solid black 2.5px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 40px;
  padding: 10px;
  box-shadow: 15px 15px 0 var(--secondary-color);
}

.scripture-card {
  margin: 20px auto;
  width: 250px;
  border: solid black 2px;
  text-align: center;
  border-radius: 10px;
  cursor: pointer;
}

.scripture-card:nth-of-type(even) {
  box-shadow: 10px 10px 0 var(--third-color);
}

.scripture-card:nth-of-type(odd) {
  box-shadow: 10px 10px 0 var(--secondary-color);
}

.homepage {
  margin-bottom: 60px;
}

.homepage > h2:nth-of-type(1) {
  margin-bottom: 0;
}

.homepage dialog {
  padding: 0;
  width: 90%;
  border-radius: 10px;
  overflow: hidden;
}

.homepage dialog h3 {
  padding: 10px;
  margin: 0;
  background-color: var(--main-color);
  color: white;
}

.homepage dialog p {
  margin-left: 10px;
  margin-right: 10px;
}

.close-modal {
  padding: 5px;
  border-radius: 3px;
  position: absolute;
  border: none;
  top: 5px;
  right: 5px;
  cursor: pointer;
  background-color: white;
  margin: 0;
}

.homepage dialog::backdrop {
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(1px);
}

/*----------------- FIND ------------------*/
.find {
  margin-left: 10px;
  min-height: 450px;
  margin-bottom: 50px;
}

.search {
  width: max-content;
  display: flex;
  align-items: center;
  padding: 1rem;
  border-radius: 2rem;
  background: #f6f6f6;
  width: 80%;
  margin: 2rem auto;
  transition: background 0.25s;
}

.search:focus-within{
    background: #f1f1f1;
}

.search-input {
  font-size: 1.3rem;
  font-family: var(--para-font);
  color: black;
  margin-left: 1rem;
  outline: none;
  border: none;
  background: transparent;
  flex: 1;
}

.search-input::placeholder,
.search-icon {
  color: rgba(0, 0, 0, 0.60);
}

.how-to li {
  padding: 5px;
}

.how-to h3 {
  font-family: var(--header-font);
  font-size: 1.3rem;
}

.scripture-response {
  border: 2.5px solid black;
  padding: 20px;
  position: relative;
  border-radius: 20px;
  width: 70%;
  margin: 10px auto;
  box-shadow: 10px 10px var(--secondary-color);
}

.scripture-response h3 {
  border-bottom: dashed 2px var(--main-color);
}

#add-to-favorite {
  border: none;
  background: white;
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
  color: var(--main-color);
  transition: color .5s ease-out;
  &:hover {
    color: red;
  }
}

