@media screen and (min-width: 700px) {
  /*hides the ham button on large view*/
  #menu {
    display: none;
  }

  nav {
    display: grid;
    grid-template-rows: 1fr;
    height: auto;
  }

  .navLink {
    display: flex;
    justify-content: space-around;
  }

  header {
    height: 150px;
    display: flex;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
  }

  footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }

  /* ---------- DIRECTORY STYLING ---------------*/
  .businesses {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 5px;
    align-items: center;
  }

  .businesses div {
    height: 250px;
  }

  .businesses h3 {
    display: none;
  }

  .grid.businesses {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 5px;
    align-items: center;
  }

  .list.businesses {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
  }

  .list.businesses h3 {
    display: block;
  }

  .list.businesses div {
    height: auto;
  }

  /* ---------- HOMEPAGE STYLING ---------------*/
  #home {
    display: grid;
    gap: 20px;
    grid-template-columns: 2fr 1.5fr 1fr;
  }

  .weather,
  .forecast {
    margin: 0;
  }

  .chamber-events {
    height: auto;
  }

  .random-businesses {
    grid-column: 1/4;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 0;
    gap: 1.3rem;
  }

  #tickets {
    bottom: 50px;
    right: 50px;
  }

  /* ---------- JOIN STYLING ---------------*/
  #join-container {
    display: grid;
    margin: 2rem 0 0 0;
    padding: 0;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }

  #application-h2 {
    grid-column: 1/2;
    margin-bottom: 0;
  }

  #levels-h2 {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-bottom: 0;
  }

  .join-chamber {
    margin: 0 1rem 0 0;
    min-width: 325px;
    width: 100%;
    grid-column: 1/2;
  }

  #membership-modals {
    margin: 0;
    min-width: 325px;
    width: 100%;
    grid-column: 2/3;
    overflow: visible;
    height: 475px;
    
  }
  
  .membership-card {
    animation: change-color 5s ease forwards, fall-in 5s ease forwards;
  }

  #membership-modals::before {
    content: "⭐"; /* the star itself */
    position: absolute;
    top: 60%;
    left: 50%;
    opacity: 0;
    font-size: 1rem;
    transform: translate(-50%, -50%);
    animation: rectangular-orbit 15s 5s linear infinite; /* 15s = full loop */
  }

  /* Keyframes: move clockwise around border */
  @keyframes rectangular-orbit {
    0% {
      top: -0.8em;
      left: 0;
      opacity: 1;
    } /* top-left */
    25% {
      top: -0.8em;
      left: 100%;
    } /* top-right */
    50% {
      top: 100%;
      left: 100%;
    } /* bottom-right */
    75% {
      top: 100%;
      left: -0.8em;
    } /* bottom-left */
    100% {
      top: -0.8em;
      left: 0;
      opacity: 1;
    } /* back to start */
  }

  @keyframes change-color {
    0% {
      background-color: #9FFFCB;
    }
    25% {
      background-color: #7AE582;
    }
    50%{
      background-color: #25A18E;
    }
    75% {
      background-color: #00A5CF;
    }
    100% {
      background-color: #004E64;
    }
  }

  @keyframes fall-in {
    0%{
      transform: translateY(150%); 
      opacity: 0;
    }
    60%{
      opacity: 0.6;
    }
    100%{
      transform: translateY(0%);
      opacity: 1;
    }
  }
}
