/*Colors palette
deep blue : #004E64;
light blue: #00A5CF;
very light green: #9FFFCB;
turquoise: #25A18E;
darker green: #7AE582;

link just in case https://coolors.co/palette/004e64-00a5cf-9fffcb-25a18e-7ae582
font Amatic SC; Dosis
*/

body {
    font-family: Dosis;
}

header {
    background: #004E64;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chamber-logo {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.city-name {
    font-size: 2.3rem;
    font-weight: bolder;
    margin-bottom: 3px;
    font-family:"Amatic SC";
    margin-top: 5px;
}

.description {
    font-size: 1.2rem;
    margin-top: 3px;
}

#anchor-logo {
    height: 100px;
    width: auto;
    border-radius: 2.5px;
    margin-right: 7.5px;
}

/*hamburger button*/
#menu::before {
    content: "☰";
}

/*closing button*/
#menu.open::before {
    content: "X";
}

#menu {
    font-family: monospace;
    font-size: 2rem;
    font-weight: bolder;
    position: absolute;
    top: 1rem;
    right: 10px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}

nav {
    display: grid;
    grid-template-rows: 0fr; 
    height: 0;
    background-color: #004E64;
    transition: grid-template-rows 0.5s ease-out;
}

nav ul.navLink {
    overflow: hidden;
}

nav.open {
    grid-template-rows: 1fr; 
    height: auto;
}

.navLink {
    list-style-type: none;
}

.navLink a {
    text-decoration: none;
    color: white;
    padding: 5px;
    font-size: 1.2rem;
    font-weight: bold;
}

.navLink li {
    padding: 10px;
}

.navLink a:hover {
    background: white;
    color: #004E64;
}

.link.active {
    text-decoration: overline;
}

main {
    width: 90%;
    margin: 0 auto;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

#grid, #list {
    font-size: 2rem;
    cursor: pointer;
    width: 75px;
    padding: 5px;
    margin: 10px;
    background-color: #7AE582;
    border-radius: 7px;
    border: solid 3px #25A18E;
}

.businesses div {
    margin: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 250px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
}

.businesses {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.grid.businesses {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.grid.businesses div {
    margin: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 250px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
}

.grid.businesses h3 {
    display: none;
}

.businesses div p, .businesses div h3, .businesses div img {
    margin: 5px;
}

.list.businesses div img {
	display: none;
}

.list.businesses div {
	display: grid;
	grid-template-columns: 1fr 2fr 1fr 2fr;
	margin: 0;
	padding: 0.25rem;
    width: 100%;
    box-shadow: none;
}

.list.businesses div:nth-child(even) {
	background-color: #9FFFCB;
}

footer {
    background-color: #004E64;
    color: white;
    margin-top: 25px;
    padding-bottom: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer p, footer h3 {
    margin: 5px;
}

.class-info, .chamber-info, .socials {
    padding: 10px;
}

#lastModified {
    color: yellow;
}

.socials img {
    width: 75px;
    border-radius: 75px;
    margin: 10px;
}

.class-info, .chamber-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.socials {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}