/*Colors palette
deep blue : #004E64;
light blue: #00A5CF;
very light green: #9FFFCB;
turquoise: #25A18E;
darker green: #7AE582;

link just in case https://coolors.co/palette/004e64-00a5cf-9fffcb-25a18e-7ae582
font Amatic SC; Dosis
*/

* {
  box-sizing: border-box;
}

body {
  font-family: Dosis;
}

header {
  background: #004e64;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chamber-logo {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.city-name {
  font-size: 2.3rem;
  font-weight: bolder;
  margin-bottom: 3px;
  font-family: "Amatic SC";
  margin-top: 5px;
}

.description {
  font-size: 1.2rem;
  margin-top: 3px;
}

#anchor-logo {
  height: 100px;
  width: auto;
  border-radius: 2.5px;
  margin-right: 7.5px;
}

/*hamburger button*/
#menu::before {
  content: "☰";
}

/*closing button*/
#menu.open::before {
  content: "X";
}

#menu {
  font-family: monospace;
  font-size: 2rem;
  font-weight: bolder;
  position: absolute;
  top: 1rem;
  right: 10px;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

nav {
  display: grid;
  grid-template-rows: 0fr;
  height: 0;
  background-color: #004e64;
  transition: grid-template-rows 0.5s ease-out;
}

nav ul.navLink {
  overflow: hidden;
}

nav.open {
  grid-template-rows: 1fr;
  height: auto;
}

.navLink {
  list-style-type: none;
}

.navLink a {
  text-decoration: none;
  color: white;
  padding: 5px;
  font-size: 1.2rem;
  font-weight: bold;
}

.navLink li {
  padding: 10px;
}

.navLink a:hover {
  background: white;
  color: #004e64;
}

.link.active {
  text-decoration: overline;
}

main {
  width: 90%;
  margin: 0 auto;
}

/* ---------- DIRECTORY STYLING ---------------*/
.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
}

.material-symbols-outlined {
  font-size: 2rem;
}

#grid,
#list {
  font-size: 2rem;
  cursor: pointer;
  width: 75px;
  padding: 5px;
  margin: 10px;
  background-color: #7ae582;
  border-radius: 7px;
  border: solid 3px #25a18e;
}

.businesses div {
  margin: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 250px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
}

.businesses {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.grid.businesses {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.grid.businesses div {
  margin: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 250px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
}

.grid.businesses h3 {
  display: none;
}

.businesses div p,
.businesses div h3,
.businesses div img {
  margin: 5px;
}

.list.businesses div img {
  display: none;
}

.list.businesses div {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 2fr;
  margin: 0;
  padding: 0.25rem;
  width: 100%;
  box-shadow: none;
}

.list.businesses div:nth-child(even) {
  background-color: #9fffcb;
}

/* ---------- HOMEPAGE STYLING ---------------*/
.chamber-hero {
  margin-top: 2rem;
  position: relative;
}

.chamber-hero img {
  width: 100%;
}

#tickets {
  font-size: 1.3rem;
  font-weight: bold;
  padding: 0.5rem;
  border-radius: 10px;
  background-color: #9fffcb;
  cursor: pointer;
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.home-h1 {
  border-bottom: solid 5px #004e64;
}

.chamber-events {
  height: 175px;
  border: solid 1.5px black;
}

.chamber-events h2 {
  text-align: center;
  margin: 0;
  background-color: #25a18e;
  padding: 0.5rem;
}

.weather {
  margin-top: 1.5rem;
  border: solid 1.5px black;
  padding-bottom: 0.5rem;
}

.weather h2 {
  text-align: center;
  margin: 0;
  background-color: #25a18e;
  padding: 0.5rem;
}

.weather-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#temp,
#description {
  font-weight: bold;
}

.bold-underline {
  text-decoration: underline;
  font-weight: bold;
}

#weather-icon {
  align-self: center;
  justify-self: center;
  width: 5rem;
}

.weather p {
  margin: 0;
  padding: 0.2rem 0rem;
  font-size: 1.1rem;
}

.forecast {
  margin-top: 1.5rem;
  border: solid 1.5px black;
  padding-bottom: 0.5rem;
}

.forecast h2 {
  text-align: center;
  margin: 0;
  background-color: #25a18e;
  padding: 0.5rem;
}

.forecast p {
  text-align: center;
}

.random-businesses {
  margin-top: 2rem;
}

.randoms {
  border: 1.5px solid #004e64;
  display: grid;
  grid-template-columns: 1fr 3fr;
  margin: 1rem 0;
}

.randoms h3 {
  grid-column: 1/3;
  text-align: center;
  background-color: #25a18e;
  margin: 0;
  padding: 0.5rem;
}

.random-businesses img {
  width: 150px;
  height: auto;
  padding: 1rem;
  align-self: center;
  justify-self: center;
}

/*---------- JOIN STYLING -------------*/
.join-chamber {
  background-color: #f1faee;
  border: solid #00a5cf 3px;
  border-radius: 5px;
  max-width: 500px;
  margin: 1rem auto;
  padding: 1rem 2rem;
}

.join-chamber label {
  display: block;
  font-weight: bold;
  font-size: 1.2rem;
  margin-top: 0.5rem;
}

.join-chamber .radio {
  font-weight: normal;
  margin-top: 0.1rem;
}

.join-chamber input[type="radio"] {
  margin-right: 0.2rem;
}

.join-chamber h3 {
  margin: 0.8rem 0 0 0;
}

.join-chamber input[type="text"],
.join-chamber input[type="email"],
.join-chamber input[type="tel"],
.join-chamber textarea {
  display: block;
  width: 100%;
  padding: 0.3rem;
  border-radius: 5px;
  border: 1px solid black;
}

#description {
  font-weight: normal;
  border-radius: 5px;
}

.join-chamber button[type="submit"] {
  margin-top: 1.5rem;
  width: 100%;
  padding: 0.5rem;
  font-weight: bold;
  font-size: 1.3rem;
  cursor: pointer;
  border-radius: 5px;
  background-color: #004e64;
  color: white;
  border: none;
  transition: background-color 0.5s ease;
}

.join-chamber button[type="submit"]:hover {
  background-color: #00a5cf;
}

.join-chamber input:required {
  border-left: solid 5px red;
}

.join-chamber input:valid {
  border-left: solid 5px #25a18e;
}

.join-chamber input:focus {
  background-color: #caf0f8;
}

.join-chamber textarea:focus {
  background-color: #caf0f8;
}

.membership-card {
  max-width: 500px;
  border: 3px solid #004e64;
  text-align: center;
  margin: 1rem auto;
  background-color: #004e64;
  border-radius: 5px;
  clip-path: polygon(75% 0, 100% 50%, 75% 100%, 25% 100%, 0% 50%, 25% 0%);
}

.membership-card h3 {
  margin: 0;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  color: white;
}

.membership-card .open-modal {
  padding: 0.3rem;
  margin: 0.5rem;
  cursor: pointer;
}

#membership-modals {
  max-width: 500px;
  margin: 0 auto;
  position: relative;
}

.open-modal {
  border-radius: 2.5px;
  transition: background-color 0.5s ease;
}

.open-modal:hover {
  background-color: #7ae582;
}

#dialogs dialog h3 {
  text-align: center;
  margin: 0;
  background-color: #9fffcb;
  padding: 0.5rem;
}

#dialogs dialog {
  padding: 0;
  max-width: 650px;
}

#dialogs dialog::backdrop {
  background: rgba(0 0 0 0.2);
  backdrop-filter: blur(2px);
}

#dialogs dialog p {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.close-modal {
  position: absolute;
  top: 5px;
  right: 5px;
}

#join-container h2 {
  text-decoration: underline;
}

#thanks-container li {
  padding: 0.5rem;
  font-size: 1.3rem;
}

/* .membership-card:nth-child(even) {
  clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 50%);
}

.membership-card:nth-child(odd) {
  clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
} */
/*---------- FOOTER STYLING -------------*/
footer {
  background-color: #004e64;
  color: white;
  margin-top: 25px;
  padding-bottom: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer p,
footer h3 {
  margin: 5px;
}

.class-info,
.chamber-info,
.socials {
  padding: 10px;
}

#lastModified {
  color: yellow;
}

.socials img {
  width: 75px;
  border-radius: 75px;
  margin: 10px;
}

.class-info,
.chamber-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.socials {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
