body {
    margin: 0;
    font-family: "Quattrocento Sans";
}

header {
    background: #800f2f;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    margin-top: 5px;
}

#facePhoto {
    height: 170px;
    border-radius: 10px;
    margin-right: 30px;
    box-shadow: 10px 10px 20px rgba(237, 242, 244, 0.5);
}

.header-name {
    font-size: 1.5rem;
    color: white;
    font-weight: bold;
    font-family: Quattrocento;
}


/*hamburger button*/
#menu::before {
    content: "☰";
}

/*closing button*/
#menu.open::before {
    content: "X";
}

#menu {
    font-family: monospace;
    font-size: 1.5rem;
    font-weight: bolder;
    position: absolute;
    top: 1rem;
    right: 10px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}

nav {
    display: grid;
    grid-template-rows: 0fr; 
    height: 0;
    background-color: #2B2D42;
    transition: grid-template-rows 0.5s ease-out;
}

nav ul.navLink {
    overflow: hidden;
}

nav.open {
    grid-template-rows: 1fr; 
    height: auto;
}

.navLink {
    list-style-type: none;
}

.navLink a {
    text-decoration: none;
    color: white;
    padding: 10px;
    font-size: 1.3rem;
}

.navLink li {
    padding: 10px;
}

.navLink a:hover {
    background: white;
    color: #2B2D42;
}

.link.active {
    text-decoration: overline;
}

main {
    width: 80%;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 50px;
}

.course-work h2 {
    background-color: #D90429;
    color: white;
    border-radius: 10px 10px 0 0;
    padding: 10px;
    text-align: center;
}

.course-work li {
    margin: 10px;
}

.hero h2 {
    background-color: #D90429;
    color: white;
    border-radius: 10px 10px 0 0;
    padding: 10px;
    text-align: center;
}

.hero img {
    display: block;
    margin: 10px auto;
    max-width: 100%;
    height: auto;
}

.hero-label {
    text-align: center;
    font-size: 1.2rem;
}

.certificate h2 {
    background-color: #D90429;
    color: white;
    border-radius: 10px 10px 0 0;
    padding: 10px;
    text-align: center;
}

.course-selector {
    height: 50px;
    margin: 15px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-bottom: 2px solid #2B2D42;
    padding-bottom: 15px;
}

.course-selector button {
    font-weight: bolder;
    background-color: #2B2D42;
    color: white;
    border-radius: 5px;
    width: 175px;
    height: 50px;
    margin: 10px;
    font-size: 1.2rem;
    cursor: pointer;
}

.courses {
    display: flex;
    flex-direction: column;
}

.courses button {
    margin: 10px;
    height: 50px;
    font-weight: bolder;
    border-radius: 7.5px;
    font-size: 1.3rem;
    background-color: #EDF2F4;
    display: flex;
    justify-content: center; 
    align-items: center; 
    text-align: center; 
    border: 1px solid black;
    cursor: pointer;
}

.courses .finished {
    background-color: #ffcdb2;
}

.courses .total {
    background: #ffee70;
    cursor: auto;
}

/*------------ DIALOG STYLING --------------*/
.dialogs {
    width: 400px;
    height: auto;
}

footer {
    background: #800f2f;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 20px;
    color: white;
    font-size: 1.3rem;
}

.country {
    display: flex;
    justify-content: center;
    align-items: center;
}

#flag {
    height: 50px;
    margin-left: 10px;
}

.lastModified {
    color: #fcf300;
}